p  {color:#669911;}
H6 {color:#666699;}
H5 {color:#333300; font-size: 22px;; text-align: center;}
H4 {color:#660033;}
H3 {color:#333333;}
H2 {color:#006600;}
H1 {color:#000066;}
a {color:#000000; font-size: 25px;}
*  {font-family: helvetica, arial, sans-serif;}
.one {color:#cc3300; font-size: 35px; font-family: arial, sans-serif;}
.span {color:#ff0000; font-size:27px}
.pidzagolovky {color:#cc6600; font-size: 26px;}
.nameofstory {background:orange;}
a:hover{text-decoration: none;}
.ground{background:lightblue;}
.tground{background:darkviolet;}
H2 {margin-center:60px;}
.fulls {background:white;}
.pix {font-size:18px; font-family: "Bradley Hand ITC", cursive ;}
div {padding:20px 20px 20px 20px; margin: 60px 60px 60px 60px; }
#photo{height:350px; width:400px;}
.headd{font-size:70px;}
.spann {color:#ff0000; font-size:32px}
.ramzai {font-weight: 900;font-family:Impact, fantasy;}